# Firebase Android
ANDROID_API_KEY=YOUR_ANDROID_API_KEY_HERE
ANDROID_APP_ID=YOUR_ANDROID_APP_ID_HERE
ANDROID_MESSAGING_SENDER_ID=YOUR_ANDROID_SENDER_ID_HERE
ANDROID_PROJECT_ID=YOUR_PROJECT_ID_HERE
ANDROID_STORAGE_BUCKET=YOUR_STORAGE_BUCKET_HERE

# Firebase iOS
IOS_API_KEY=YOUR_IOS_API_KEY_HERE
IOS_APP_ID=YOUR_IOS_APP_ID_HERE
IOS_MESSAGING_SENDER_ID=YOUR_IOS_SENDER_ID_HERE
IOS_PROJECT_ID=YOUR_PROJECT_ID_HERE
IOS_STORAGE_BUCKET=YOUR_STORAGE_BUCKET_HERE
IOS_CLIENT_ID=YOUR_IOS_CLIENT_ID_HERE
IOS_BUNDLE_ID=YOUR_IOS_BUNDLE_ID_HERE
